@charset "utf-8";

/* Whole Settings */
body {
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #F5EFE7;
}

.sectionA {
    padding: 30px 15px;
    background-color: #F5EFE7;
}
.sectionB {
    padding: 30px 15px;
    background-color: #D8C4B6;
}
.section-headline {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px 0;
}

.grid {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 40px 0;
    align-items: flex-start;
}
.grid-item {
    list-style: none;
    align-items: flex-start;
}
.grid-col-2 > .grid-item {
    width: 50%;
}
.grid-col-3 > .grid-item {
    width: 33.3%;
}

/* HEADER */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #4F709C;
}
.header-logo {
    margin: 0;
}
.header-logo > a {
    display: block;
}
.header-logo-img {
    width: 200px;
}
.header-nav-list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-nav-item > a{
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color .25s;
}
.header-nav-item > a:hover{
    border-bottom: 2px solid #000;
}
/* HERO */
.hero {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.hero > strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    z-index: 2;
}
.hero-video {
    padding: 0;
    margin: 0;
    position: absolute;
    width: auto;
    height: 120%;
    z-index: 1;
}
.hero-description {
    color: #333;
    text-align: center;
    position: relative;
}

/* TITLE */
.title {
    text-align: center;
}
.title-headline {
    font-size: 120px;
    padding-top: 300px;
    padding-bottom: 50px;
    margin: 0;
}

/* ABOUT */
.about {
    display: flex;
    padding: 0 15px;
    align-items: flex-start;
    justify-content: center;
}
.about-img {
    margin: 0;
}
.about-caption {
    margin-left: 50px;

}
.about-caption-hifumi {
    margin-right: 50px;

}
.about-headline {
    font-size: 30px;
}
.about-description {}


/* ARTWORKS */
.artworks-description {
    text-align: center;
    padding: 0 25% 50px;
    margin: 0;
}
.artworks-item {
    text-align: center;
    justify-content: start;
}

.artworks-item-headline {
    font-weight: bold;
    font-size: 20px;
}
.artworks-item-img {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 10px 0px;
}
.artworks-item-img > img{
    height: 200px;
}
.artworks-item-description {
    text-align: left;
    justify-content: start;
    padding: 10px 30px;
}


.footer {
    background-color: #213555;
    padding: 0;
    margin: 0;
}
.footer-map {
    display: flex;
    justify-content: center;
}
.footer-map-img {
    margin: 15px 0;
    height: 12;
    width: 10;
}
.footer-logo {
}
.footer-caption {
    text-align: left;
    margin-top: 15px;
    margin-left: 40px;
    color: #D8C4B6;
}
.footer-maplogo {}
.footer-addres {
    font-style: normal;
}
.footer-line {}
.copyright {
    color: #D8C4B6;
}

/* CHATACTER */
.character-item {
    text-align: center;
    justify-content: start;
    flex-direction: row-reverse;
}

.character-item-name {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}
.character-item-img {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.chracacter-item-desc {
    text-align: left;
    justify-content: start;
    padding: 10px 70px;
}